[target.x86_64-unknown-linux-gnu]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[target.x86_64-unknown-linux-musl]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[target.i686-unknown-linux-gnu]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[target.i686-unknown-linux-gnu.env]
passthrough = []
# keep pkg-config limited to 32-bit search paths inside the container
PKG_CONFIG_LIBDIR = "/usr/lib/i386-linux-gnu/pkgconfig:/usr/lib/pkgconfig:/usr/share/pkgconfig"
PKG_CONFIG_PATH = "/usr/lib/i386-linux-gnu/pkgconfig:/usr/lib/pkgconfig:/usr/share/pkgconfig"

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[target.aarch64-unknown-linux-musl]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[target.armv7-unknown-linux-gnueabihf]
pre-build = [
    "apt update -y && apt install -y protobuf-compiler"
]

[build.env]
passthrough = [
    "EDAMAME_APP_SENTRY",
    "PWNED_API_KEY",
    "EDAMAME_TARGET",
    "EDAMAME_CORE_TARGET",
    "EDAMAME_CORE_SERVER",
    "EDAMAME_CA_PEM",
    "EDAMAME_CLIENT_PEM",
    "EDAMAME_CLIENT_KEY",
    "EDAMAME_SERVER_PEM",
    "EDAMAME_SERVER_KEY",
    "EDAMAME_CLIENT_CA_PEM",
    "LAMBDA_SIGNATURE",
    "MIXPANEL_TOKEN",
]